<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lbb.dao.OutputValueModelMapper">
    <resultMap id="BaseResultMap" type="com.lbb.model.OutputValueModel">
        <id column="output_value_id" property="outputValueId" jdbcType="BIGINT"/>
        <result column="output_time" property="outputTime" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        output_value_id, output_time, create_time, create_user_id, last_modify_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from output_value
        where output_value_id = #{outputValueId,jdbcType=BIGINT}
    </select>

    <select id="selectByOutputTime" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from output_value
        where output_time = #{outputTime, jdbcType=INTEGER}
        limit 1
    </select>

    <select id="selectAllOutputTime" resultType="java.lang.Integer">
        select distinct output_time
        from output_value
        order by output_time asc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from output_value
        where output_value_id = #{outputValueId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.lbb.model.OutputValueModel">
        insert into output_value (output_value_id, output_time, create_time,
          create_user_id, last_modify_time)
        values (#{outputValueId,jdbcType=BIGINT}, #{outputTime,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
          #{createUserId,jdbcType=INTEGER}, #{lastModifyTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.lbb.model.OutputValueModel" useGeneratedKeys="true" keyProperty="outputValueId">
        insert into output_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outputValueId != null">
                output_value_id,
            </if>
            <if test="outputTime != null">
                output_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="lastModifyTime != null">
                last_modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outputValueId != null">
                #{outputValueId,jdbcType=BIGINT},
            </if>
            <if test="outputTime != null">
                #{outputTime,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="lastModifyTime != null">
                #{lastModifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lbb.model.OutputValueModel">
        update output_value
        <set>
            <if test="outputTime != null">
                output_time = #{outputTime,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="lastModifyTime != null">
                last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where output_value_id = #{outputValueId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lbb.model.OutputValueModel">
    update output_value
    set output_time = #{outputTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where output_value_id = #{outputValueId,jdbcType=BIGINT}
  </update>
</mapper>